*{
    margin: 0px;
}
body {
    margin: 0;
    padding: 0;
}
/* below styling for navbar - all pages */
.navbar {
    background-color: #ffffff;
    border-top: solid #ccc;
    border-bottom: solid #ccc;
}

.brand-container {
    padding-left: 200px;
}
.navbar-brand {
    height: 60px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid #ccc;
    color: #ffffff;
    background-color: #4aaaa5;
}

/* below is styling for main (white) body block - all pages */
.main {
    margin-top: 45px;
    margin-bottom: 45px;
    background-color: white;
}
h2 {
    color: #4aaaa5;
    padding:15px;
    border-bottom: solid 3px #cccccc;
}

/* below is styling for About page */

    /* first paragraph - About page */
.first {
    margin-left: 10px;
    float: left;
}
    /* all other paragraphs - About page */
p {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* below is styling for Contact page */
.contact-form {
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
}

/* below is styling for Portfolio page */
.port {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
.image-1 {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.8;
}

.image-2 { 
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

.image-3 {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

.image-4 {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

.image-5 {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    float: left;
}

.image_text {
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 240px;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    padding-bottom: 15px;

 
}
/* Styling for footer on all pages */
footer {
    width: 100%;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}


@media screen and (max-width: 320px) {
    .main{
        margin: auto;
    }
    .navbar-brand {
        margin-left: 5px;
    }
}

@media screen and (max-width: 375px) {
    .main{
        margin: auto;
    }
    .navbar-brand {
        margin-left: 5px;
    }
}
@media screen and (max-width: 425px) {
    .main {
       margin: auto;
       margin-bottom: 35px;
    }
    .navbar-brand {
        margin-left: 5px;
    }
}

/* @media screen and (max-width: 768px) {
    .main {
        margin-left: 200px;
        margin-right: 200px;
    }
} */


    @media screen and (min-width: 1024px) {
        .main {
            margin-left: 125px;
            margin-right: 125px;
        }
        .navbar-brand {
            margin-left: 150px;
        }
        ul {
            margin-right: 150px;
        }
    }

    @media screen and (min-width: 1440px) {
        .main {
            margin-left: 150px;
            margin-right: 150px;
        }
        .navbar-brand {
            margin-left: 285px;
        }
        ul {
            margin-right: 300px;
        }
        .first {
            padding-top: 25px;
        }
    }   
    /* @media screen and (min-width: 2560px) {
        .main {
          
           
        }
        p {
            font-size: 30px;
        }
        .biopic {
            margin-top: 15px;
            height: 400px;
            width: 340px;
        }
        .navbar-brand {
            margin-left: 600px;
        }
        ul {
            margin-right: 300px;
        } */